<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Area Calculator of a Triangle</h1>
    <p>Enter the breadth and height in meters to get the Area</p>
    <form form method='POST'>
        <div>
            <input placeholder="Breadth" value='{{breadth}}' name='breadth_dim'></input>
        </div>

        <div>
            <input placeholder="Height" value='{{height}}' name='height_dim'></input>
        </div>

        <p>{{output}}</p>
        <button class="btn btn-warning">Calculate</button>
    </form>
</div>

</body>
</html>